@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  max-width: 100%;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
